/*
	Author: ShapedTheme
	Template: Cluster
	Version: 1.0
	URL: http://shapedtheme.com
*/


/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. BUTTONS
	4. SERVICES
	5. ABOUT US
	6. CONTACT
	14. BLOG
	8. FOOTER

*/



/* 1. IMPORT SECTION */

	@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");




/* 2. BASIC STYLES */
	
	/*OVERLAYY*/
	
/*	#vid{
		width: 100%;
		height: 500px;
		padding-bottom: 120px;
	}*/

	#video .overlayy {
	    color: #fff;
	    width: 100%;
	    position:absolute;
	    z-index:12;
	    text-align:center;
	    font-size: 100px;
	    padding-top: 15%;
	}
	
	ul{
		margin-top: -55px;
		margin-bottom: auto;
	}

	html, body {
		height: 100%;
	}

	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #333333;
	}

	a { 
		color: #000;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		color: #000;
	}

	a, a:hover, a:active, a:focus, button:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}

	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	p {
		line-height: 1.5;
	}

	h1{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
		color: #ED1F1F;
	}
	.foot h1{
		color: #fff;
	}
	
	h2{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
	}
	h3{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
		font-size: 130%;
	}
	h4{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
	}
	h5{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
	}
	h6{
		font-family: 'Arial', sans-serif;
		font-weight: 500;
		padding-left: 30%;
		margin-top: -5%;
	}
/*	h2, h3, h4, h5, h6{
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}*/
	
	.titu{
		font-size: 50px;
	}

	input, textarea{
		outline: none;
	}

	label{
		font-weight: 300;
	}

	#pre-status,
	.preload-placeholder {
		background-image: url(../images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

	.preload-placeholder {
		background: none;
		left: 0;
		margin: 0;
		text-align: center;
		top: 65%;
	}

	.st-border{
		width: 34px;
		height: 1px;
		display: block;
		background-color: #000;
	}

	.overlay{
		background-color: #000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}


/* 3. BUTTONS */
	
	.btn-defaulta{
		position: absolute;
		text-align: center;
		max-width: 400px;
		width: 100%;
		left: 0;
		margin-top: 8%;
		text-align: center;
		border-radius: 8px;
		background-color: #000D85;
		border: 2px solid #000D85;
		color: #fff;
		font-size: 2.5em;
	}

	.btn-defaultb{
		position: absolute;
		text-align: center;
		max-width: 400px;
		width: 100%;
		right: 0;
		margin-top: 8%;
		text-align: center;
		border-radius: 8px;
		background-color: #fff;
		border: 2px solid #000D85;
		color: #000D85;
		font-size: 2.5em;
	}

	.btn-defaulta:hover{
		background-color: #A7B3FF;
		color: #fff;
		border: 2px solid #000;
		font-weight: bold;
	}
	
	.btn-defaultb:hover{
		background-color: #A7B3FF;
		color: #fff;
		border: 2px solid #000;
		font-weight: bold;
	}

	.btn-send{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover{
		background-color: #000;
		color: #fff;
	}


/* 4. SERVICES */

	#services{
		padding-top: 130px;
		padding-bottom: 120px;
	}

	.section-title{
		margin-bottom: 50px;
	}

	.section-title h1{
		margin-top: 0;
	}

	.st-service{
		margin-top: 30px;
	}

	.st-service h2{
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.st-service h2 i{
		margin-right: 10px;
	}

	.st-service p{}

/* 4.5. IMAGEN*/
	
	#imagen{
		width: 100%;
	}


/* 5. ABOUT US */
	
	#about-us{
		padding-top: 130px;
		padding-bottom: 140px;
	}

	#about-us .about-us{
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 15%;
	}

	#about-us .about-us h4{
		margin-top: 0;
		margin-bottom: 30px;
	}

	#about-us .about-us .btn-send{
		margin-top: 30px;
	}

	#about-us .our-office{
		padding-right: 0px;
	}



/* 6. CONTACT */

	#contact{
		padding-top: 130px;
		padding-bottom: 120px;
	}
	/* form starting stylings ------------------------------- */
	.group {
	    position: relative;
	    margin-bottom: 35px;
	}

	input {
	    font-size: 18px;
	    padding: 5px 10px 10px 5px;
	    display: block;
	    width: 100%;
	    border: none;
	    border-bottom: 1px solid #000;
	    background: transparent;
	}

	    input:focus {
	        outline: none;
	    }

	/* LABEL ======================================= */
	label {
	    color: #000;
	    font-size: 18px;
	    font-weight: normal;
	    position: absolute;
	    pointer-events: none;
	    left: 5px;
	    top: 10px;
	    transition: 0.2s ease all;
	    -moz-transition: 0.2s ease all;
	    -webkit-transition: 0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label {
	    top: -20px;
	    font-size: 14px;
	    color: #000;
	}

	/* BOTTOM BARS ================================= */
	.bar {
	    position: relative;
	    display: block;
	    width: 100%;
	}

	.bar:before, .bar:after {
	    content: '';
	    height: 2px;
	    width: 0;
	    bottom: 1px;
	    position: absolute;
	    background: #000;
	    transition: 0.2s ease all;
	    -moz-transition: 0.2s ease all;
	    -webkit-transition: 0.2s ease all;
	}

	.bar:before {
	    left: 50%;
	}

	.bar:after {
	    right: 50%;
	}



	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
	    width: 50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
	    position: absolute;
	    height: 60%;
	    width: 100px;
	    top: 25%;
	    left: 0;
	    pointer-events: none;
	    opacity: 0.5;
	}

	/* active state */
	input:focus ~ .highlight {
	    -webkit-animation: inputHighlighter 0.3s ease;
	    -moz-animation: inputHighlighter 0.3s ease;
	    animation: inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
	    from {
	        background: #000;
	    }

	    to {
	        width: 0;
	        background: transparent;
	    }
	}

	@-moz-keyframes inputHighlighter {
	    from {
	        background: #000;
	    }

	    to {
	        width: 0;
	        background: transparent;
	    }
	}

	@keyframes inputHighlighter {
	    from {
	        background: #000;
	    }

	    to {
	        width: 0;
	        background: transparent;
	    }
	}


	#panel {
	/*	border: 1px solid rgb(200, 200, 200);
	    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;*/
	    border-radius: 4px;
	}



/* 7. BLOG */
	
	#page-header{
		background-color: #f5f5f5;
		padding-top: 50px;
		padding-bottom: 0px;
		position: relative;
		margin-bottom: 50px;
		margin-top: 80px;
	}

	.single-blog{
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.post-title{
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.post-meta{
		margin-bottom: 15px;
	}

	.post-meta span{
		margin-right: 6px;
		font-size: 12px;
		font-weight: 600;
		opacity: 0.6;
	}

	.post-meta span:hover{
		opacity: 1;
	}

	.post-carousel-left, 
	.post-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.post-carousel-left {
		left:-32px;
	}

	.post-carousel-right {
		right:-32px;
	}

	#post-carousel:hover .post-carousel-left {
		left:0;
	}

	#post-carousel:hover .post-carousel-right {
		right:0;
	}

	.post-link{
		background-color: #f5f5f5;
		text-align: center;
		padding: 40px 0;
		font-size: 16px;
		font-weight: 600;
	}

	.post-quote{
		background-color: #f5f5f5;
		padding: 30px;
		font-size: 16px;
		font-weight: 500;
		font-style: italic;
	}

	#blog .pagination{
		margin-bottom: 80px;
	}

	#blog .pagination li a{
		width: 35px;
		height: 35px;
		line-height: 31px;
		text-align: center;
		font-size: 16px;
		color: #a3a3a3;
		border: 1px solid #d1d1d1;
		padding: 0;
		margin-right: 5px;
		border-radius: 0;
	}

	#blog .pagination li.active a,
	#blog .pagination li a:hover{
		background-color: transparent;
		border-color: #000;
		color: #000;
	}

	.sidebar-widget{
		margin-top: 35px;
		margin-bottom: 50px;
	}

	.sidebar-widget .sidebar-title{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.sidebar-widget ul{
		list-style: square;
		margin: 0;
		padding-left: 18px;
	}

	.sidebar-widget ul li{
		margin-bottom: 10px;
		font-weight: 500;
	}

	.blog-search{
		position: relative;
	}

	.blog-search input {
		border: 1px solid #d6d6d6;
		color: #8d8d8d;
		height: 44px;
		outline: medium none;
		padding: 0 50px 0 17px;
		width: 100%;
	}

	.blog-search span {
		color: #252525;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	.blog-search .search-submit {
		background: none;
		border: none;
	}

	.blog-search:after {
		background-color: #d6d6d6;
		content: "";
		display: block;
		height: 27px;
		position: absolute;
		right: 40px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 1px;
	}

	.sidebar-widget .tagcloud a{
		padding: 4px 10px;
		border: 1px solid #ccc;
		margin: 3px 1px;
		display: inline-block;
	}

	.sidebar-widget .tagcloud a:hover{
		border-color: #000;
		color: #000;
	}

	ul.content-flickr {
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	ul.content-flickr li {
		display: block;
		float: left;
		padding: 5px 10px 5px 0;
		width: 33.33%;
	}

	.content-flickr li a {
		display: block;
		position: relative;
		width: 100%;
	}



/* 8. FOOTER */

	#footer{
		background-color: #00126D;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
	}

	
